$space: 1rem;

// font-family: arpona, serif; font-weight: 500; font-style: normal;

// font-family: arpona, serif; font-weight: 600; font-style: normal;

// font-family: arpona, serif; font-weight: 900; font-style: normal;